html{
    padding: 0;
    margin: 0;
    min-height: 300px;
    flex-wrap: wrap;
    font-size: 10px;
}
body{
    font-family: Montserrat;
    font-size: 1.6rem;
}
.layout{
    width: 100%;
    min-height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.layout__main{
    width: 50rem;
}
.main__input{
    max-width: 1400px;
    display: block;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid #ccc;
    outline: none;
    margin-bottom: 3rem;
}
.main__text{
    text-align: justify;
    line-height: 1.8;
}
.search{
    size: 50%;
}
.text__search{
    background-color: #cdbaf5;
    border-radius: 0.5rem;
    padding: 0.4rem;
}
/*Estilos para el header*/
header{
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin: 8px auto;
}
.header-name{
    font-size: 30px;
    line-height: 36px;
    color: #111827;
}
.header-inicio{
    font-size: 16px;
    line-height: 24px;
    color: #bb2777;
}
.header-button{
    background-color: #bb2777;
    color: white;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 12px;
    border-radius: 8px;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    gap: 12px;
    align-items: center;
}
h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 57.6px;
   text-align: center;
}

@media (min-width: 1200px){
    .layout__main{
        background-position: calc(240px - 800px);
    }

    .layout{
        background-position: calc(240px - 800px);
    }

    .search{
        background-position: calc(240px- 800px);
    }

}